# Precompiled Headers
*.gch
*.pch

# Users
.vs/
x64/
Backup/
Design/
bin-int/

*.cap
*.sln
*.log

# Visual studio files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Engine assets
*.DentyMesh
*.DentyApproximationCollisionMesh
*.DentyCollisionMesh
*.DentyMaterial
*.DentySceneTree
*.DentyScript
*.DentyPrefab
*.DentyTexture
*.DentyCubeMaterial
*.DentySkybox